<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <nav class="">
    <div class="nav-wrapper white">
      <a routerLink="/" class="brand-logo"><img src="../assets/images/l2.png" class="logo" /></a>
      <a materialize="sideNav" href="#" data-activates="slide-navigation" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!token" routeLinkActive="active"><a href="#modal1" class="modal-trigger">SignUp</a></li>
        <li *ngIf="!token" routeLinkActive="active"><a href="#login" class="modal-trigger">Login</a></li>
        <li *ngIf="token" routeLinkActive="active">
          <a data-activates="dropdown1" materialize="dropdown" class="dropdown-trigger">
            {{email}} <i class="material-icons right">arrow_drop_down</i>
          </a>   
        </li>
        <li *ngIf="token" routeLinkActive="active"><a routerLink="/account">Account</a></li>
        <li *ngIf="token" routeLinkActive="active"><a routerLink="/account/wallet">Wallet</a></li>
        <li routeLinkActive="active"><a routerLink="/about">About</a></li>
        <li routeLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
      
      <ul id="slide-navigation" class="side-nav sidenav">
          <li *ngIf="!token" routeLinkActive="active"><a href="#modal1" class="modal-trigger">SignUp</a></li>
          <li *ngIf="!token" routeLinkActive="active"><a href="#login" class="modal-trigger">Login</a></li>
          <li *ngIf="token" routeLinkActive="active">
              <a data-activates="dropdown" materialize="dropdown" class="dropdown-trigger">
                {{email}}
              </a>   
            </li>
          <li *ngIf="token" routeLinkActive="active"><a routerLink="/account">Account</a></li>
          <li *ngIf="token" routeLinkActive="active"><a routerLink="/account/wallet">Wallet</a></li>
          <li routeLinkActive="active"><a routerLink="/about">About</a></li>
          <li routeLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
      <ul id="dropdown1" class="dropdown-content ">
          <li routeLinkActive="active" (click)="logout()">
            <a >
            logOut
          </a></li>
      </ul>
      <ul id="dropdown" class="dropdown-content ">
        <li routeLinkActive="active" (click)="logout()">
          <a >
          logOut
        </a></li>
    </ul>
    </div>
  </nav>
</div>
<app-signup (onSubmit)="authenticate()"></app-signup>
<app-login (onSubmit)="authenticate()"></app-login>
<router-outlet></router-outlet>
