<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <nav class="">
    <div class="nav-wrapper white">
      <a routerLink="/" class="brand-logo"><img src="../assets/images/l2.png" class="logo" /></a>
      <a materialize="sideNav" href="#" data-activates="slide-navigation" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li routeLinkActive="active"><a routerLink="/signup">SignUp</a></li>
        <li routeLinkActive="active"><a routerLink="/login">Login</a></li>
        <li routeLinkActive="active"><a routerLink="/about">About</a></li>
        <li routeLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
      
      <ul id="slide-navigation" class="side-nav sidenav">
          <li routeLinkActive="active"><a routerLink="/signup">SignUp</a></li>
          <li routeLinkActive="active"><a routerLink="/login">Login</a></li>
          <li routeLinkActive="active"><a routerLink="/about">About</a></li>
          <li routeLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <ul id="dropdown1" class="dropdown-content ">
    <li><a href="#">
      logOut
    </a></li>
  </ul>
</div>
<router-outlet></router-outlet>
