.wallet-container {
    margin-top: 0.2rem;
    background-color: #F6F9FC;
    min-height: 100vh;
    .info {
        margin-top: 50px;
    }
    .wallet-img {
      max-width: 100%;
      max-height: 100%;
    }
    .instruction {
        height: 250px;
        ul li, .title { 
          margin: 1rem 0 0 1rem;
          font-size: 16px;
        }
        .title {
          font-weight: 500;
        }
      }
}
.wallet-link {
    width: 220px;
    .wallet-nav {
      font-size: 17px;
      font-weight: 600
    }
  }
  a {
    color: #f3a827;
  }
  .wallet-value {
    color: #f3a827;
  }

  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }