<div class="parallax-container">
  <div  materialize="parallax" class="parallax">
    <img src="../assets/images/bit4.png" class="">
  </div>
  <div  class="paralla center-align">
      <img src="../assets/images/bit7.png" class="parallax-img">
      
  </div>
</div>
<br/>
<h4 class="center"> Welcome! to BitBuild</h4>
<br /><br/>
<section class="container-fluid">
  <div class="row">
    <div class="col s12 m4">
      <br>
      <img src="../assets/images/bit-e.png" class="responsive-img" />
      <h6>Current Bitcoin price on the market</h6>
      <ul class="left">
        <li *ngFor="let rate of selectedExchangeRate">1BTC => {{rate.symbol}} {{rate.last}} {{rate.abr}}</li>
        <br />
        <li (click)="viewAllStat()" class="view-more">
          <span *ngIf="viewStat">Close Full Statistics <i class="material-icons right">arrow_drop_up</i></span>
          <span *ngIf="!viewStat">View Full Statistics <i class="material-icons right">arrow_drop_down</i> </span> </li>  
      </ul>
    </div>
    <div *ngIf="viewStat" class="col s12 hide-on-med-and-up">

      </div>
    <div class="col s12 m4 text">
        <h5 class="">Do you want to invest on bitcoin market on bitbuild?</h5>
        <h6 class="">Lets get started!</h6>
        <p class="justify">
          <a routerLink="/signup">Signup </a>with bitbuild to start investing. By just signing up, you will get a bitcoin 
          wallet to carry out all bitcoin transactions for free. This include sending and receiving bitcoin without
          any charge. Invest in any plan of your choice using your wallet. Navigate to <a routerLink="/about">about</a> page to get 
          more information about Bitbuild company and how it works.
        </p>
      </div>
    <br />
    <div class="col s12 m4 center calculator">
      <h5>Crypto Converter </h5>
      <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="amount" type="number" [(ngModel)]='amount' class="validate" name='amount'>
              <label for="amount">Amount </label>
            </div>
            <div class="input-field col s6">
              <select [(ngModel)]="currency" materialize="material_select" name='currency'>
                  <option value="USD">USD</option>
                  <option value="EUR">EUR</option>
                  <option value="GBP">GBP</option>
              </select>
              <label>Select Currency</label>
            </div>
          </div>
          <button (click)="calculateRate()" class="btn waves-effect waves-light z-depth-1" type="submit" name="action">Calculate Exchange
              <i class="material-icons right">send</i>
          </button>
          <h6 class="center"> RECEIVE</h6>
          <div class="center recieve "><span class="white">{{calcultedRate}} BTC</span></div>
        </form>
    </div>
  </div>
</section>
<div class="divider" >
</div>
<section *ngIf="viewStat" class="container-fluid hide-on-small-and-down">
  <div class="row">
    <h5 class="center"> Bitcoin Exchange Rate Of Major Currencies</h5>
    <div class="col s12">
      <app-chart [lineChartLabels]="lineChartLabels" [lineChartData]="lineChartData"></app-chart>
    </div>
  </div>
</section>
<br /><br/>
<h4 class="center"> Benefits of Investment</h4>
<br/>
<section class="container-fluid">
  <div class="row">
    <div class="col s12 m4">
        <img src="../assets/images/b8.png" class="responsive-img"/>
        <ul class="left">
            <li><span class="arrow-color">=></span> Free bitcoin wallet </li>
            <li><span class="arrow-color">=></span>  5% weekly increase of investment amount also called <strong>weekly build</strong>.</li>
            <li><span class="arrow-color">=></span>  Your <strong>weekly build</strong> is an interest BitBuild pay you for an investment.</li>
            <li><span class="arrow-color">=></span>  from the income generated by BitBuild investment on bitcoin, etherium and other investments. </li>
          </ul>
    </div>
    <div class="col s12 m4">
        <img src="../assets/images/b8.jpg" class="responsive-img"/>
      </div>
    <div class="col s12 m4">
       <br />
      <h5>Other Benefits</h5>
      <ul class="left">
          <li><span class="arrow-color">=></span>  Free bitcoin wallet </li>
          <li><span class="arrow-color">=></span> Free transaction on your wallet</li>
          <li><span class="arrow-color">=></span>  The transaction include tranfering bitcoin from your BitBuild wallet to any other bitcoin address</li>
          <li><span class="arrow-color">=></span>  Investing to any BitBuild packages from your wallet is optional</li>
        </ul>
    </div>
  </div>
</section>
<div class="divider"></div>
<br /><br/>
<h4 class="center">Investment Levels And Plans</h4>
<br/>
<section class="container-fluid">
  <div class="row">
    <div *ngFor="let plan of planData" class="col s12 m4 plan">
        <div class="card ">
            <div class="card-content ">
              <span class="card-title">
                  <ul class="collection">
                    <li class="collection-item avatar">
                      <img src={{plan.src}} alt="" class="circle">
                      <span class="title">Level {{plan.level.length}}</span>
                      <p>{{plan.type}}
                      </p>
                      <a href="#!" class="secondary-content"></a>
                    </li>
                  </ul>
              </span>
              <table class="striped">
                <thead>
                  <tr>
                    <th>
                      Benefits
                    </th>
                    <th>
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Price</td>
                    <td>{{plan.price}}</td>
                  </tr>
                  <tr>
                    <td>Wallet</td>
                    <td>{{plan.wallet}}</td>
                  </tr>
                  <tr>
                    <td>Weekly 5% Investment Payout</td>
                    <td>{{plan.payout}}</td>
                  </tr>
                  <tr>
                    <td>Bonus</td>
                    <td>{{plan.bonus}}</td>
                    </tr>
                </tbody>
              </table>         
            </div>
            <div class="card-action">
                <a routerLink="/signup">{{plan.action}}</a>
              </div>
          </div>
    </div>
  </div>

</section>
<section class="testimonials">
  <div class="container">
  <h5>User testimonials</h5>
  <p class="center">What the users are saying about BitBuild</p>
<div class="row">
  <div *ngFor="let testimony of testimonies" class="col s12 m4 center-align">
    <div class="profile">
        <img src="../assets/images/b8.jpg" class="user"/>
        <blockquote>
          <p>
              <i class="fas fa-quote-left"></i> 
              {{testimony.message}} 
              <i class="fas fa-quote-right"></i>
          </p>
        </blockquote>
        <h3>{{testimony.name}} <span>Investor</span></h3>
    </div>
  </div>
</div>
</div>
</section>

<div class="home-footer">
    <h6 class="center footer-text">© 2019 BitBuild</h6>
</div>